
 body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .login{
    padding-top: 250px;
  }
  .log_form h2{
    font-size: 40px;
    color: white;
    padding-left: 30px;
    padding-top: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  form{
    background-color: rgba(105, 212, 56, 0.521);
    width: 600px;
    border-radius: 25px;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.445);
    
  }
  form:hover{
    background-color:  rgba(105, 212, 56, 0.76);
    transition: all .5s;
  }

  input{
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
    margin-left: 25px;
    background-color: rgba(255, 255, 255, 0.494);
  }
  input::placeholder{
    color: rgb(96, 70, 5);
  }
  input:hover{
    background-color: white;
    transition: all .5s;
  }
  .sub_button{
    width: 300px;
    background-color: yellow;
    font-weight: bold;
    font-size: 23px;
    cursor: pointer;
    box-shadow: 5px 5px black;
  }
  .sub_button:hover{
    background-color: brown;
    color: white;
    transition:all .5s;
  }
  .log_form a{
    font-size: 25px;
    padding-left: 30px;
    color: rgb(80, 79, 77);
    text-decoration-line:none;
  }